//Font Families
$font-primary: 'Inter Regular';
$font-primary-medium: 'Inter Medium';
$font-primary-semi: 'Inter SemiBold';

//Theme Colors
$color-primary: #0060FF;
$color-primary-dark: #003080;
$color-secondary: #F0F6FF;
$color-danger: #FF0000;
$color-success: #009F13;
$color-disabled-bg: #F9F9FA;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #BCC5CB;
$color-border: #D9D9D9;
$color-dark : #353A3F;

//Text Colors
$color-text-primary: #000000;
$color-text-secondary: #5E6E78;
$color-disabled-text: #A9B5BC;

//Base Styles
$line-height-base: 24px;
$font-size-base: 14px;

//Transitions
$transition-xs: all 0.2s ease-in-out;

//Border
$border-radius-sm: 8px;
$border-radius-lg: 64px;

$border-disabled: #EBEEEF;
$border-color: #CDD4D8;
