.badge {
    background-color: $color-secondary;
    border-radius: $border-radius-lg;
    font-family: $font-primary-semi;
    color: $color-primary;
    display: inline-block;
    line-height: 20px;
    font-size: 12px;
    min-width: 20px;
    padding: 0 6px;
}