.nav {
    border-bottom: 1px solid $color-border;
    margin-bottom: 40px;
    display: flex;

    .nav-item {
        font-family: $font-primary-medium;
        color: $color-text-secondary;
        padding-bottom: 8px;
        line-height: 22px;
        padding-top: 8px;
        font-size: 14px;

        &.active {
            color: $color-primary;
            position: relative;

            &:before {
                content: "";
                background-color: $color-primary;
                position: absolute;
                bottom: -1px;
                height: 2px;
                width: 100%;
                left: 0;
            }

            .badge {
                background-color: $color-primary;
                color: $color-white;
            }
        }
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
}