//icons path
$icons-path: './../fonts/icons/';
$icon-name: 'icomoon';

@font-face {
    font-family: $icon-name;
    src:  url($icons-path + 'icomoon.eot?rjer7f');
    src:  url($icons-path + 'icomoon.eot?rjer7f#iefix') format('embedded-opentype'),
    url($icons-path + 'icomoon.ttf?rjer7f') format('truetype'),
    url($icons-path + 'icomoon.woff?rjer7f') format('woff'),
    url($icons-path + 'icomoon.svg?rjer7f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $icon-name !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
    content: "\e904";
}
.icon-plus:before {
    content: "\e901";
}
.icon-arrow-down:before {
    content: "\e902";
}
.icon-chevron-down:before {
    content: "\e90c";
}
.icon-chevron-up:before {
    content: "\e90d";
}
.icon-chevron-left:before {
    content: "\e903";
}
.icon-chevron-right:before {
    content: "\e900";
}
.icon-delete:before {
    content: "\e905";
}
.icon-edit:before {
    content: "\e906";
}
.icon-frame:before {
    content: "\e907";
}
.icon-refresh:before {
    content: "\e908";
}
.icon-search:before {
    content: "\e909";
}
.icon-circle:before {
    content: "\e90a";
}
.icon-eye:before {
    content: "\e90b";
}